// Base Styles
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap');

@import "../../node_modules/bulma/bulma.sass";


// Media Queries Manager
// 1em = 16px
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media (max-width: 37.5em) {
      @content
    }

    ; // 600px
  }

  @if $breakpoint==tab-port {
    @media (max-width: 56.25em) {
      @content
    }

    ; // 900px
  }

  @if $breakpoint==tab-land {
    @media (max-width: 75em) {
      @content
    }

    ; // 1200px
  }

  @if $breakpoint==big-desktop {
    @media (min-width: 112.5em) {
      @content
    }

    ; // 1800px
  }
}

$color-primary: #1DB954;
$color-primary-dk: darken(#1baa4d, 7%);

$color-dark: #222;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans',
    sans-serif;
  line-height: 1.7;
  color: #333;
  position: relative;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
}

.btn {
  display: inline-block;
  padding: 18px 72px;
  border-radius: 250px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro',
    sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

h1 {
  font-size: 6.1rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 4.8rem;

}

h3 {
  font-size: 3.13rem;

}

h4 {
  font-size: 2rem;
}


p {
  font-size: 2rem;
}


.main-container {
  max-width: 120rem;
  margin: 0 auto;
}

.column {
  padding: 0 2.5rem;
}


// Utility Classes
.p-section-s {
  padding: 50px 15px;
}

.p-section-m {
  padding: 75px 15px;
}

.p-section-l {
  padding: 100px 15px;
}

.shadow-xs {
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.10),
    0 6px 6px rgba(0, 0, 0, 0.15);
}

.shadow-s {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-m {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

span {
  display: block;
}

// Main Elements

.hero {
  background: $color-primary;

  & .title,
  .subtitle {
    color: #fff;
    text-align: center;
  }

  & .title {
    font-size: 4.8rem;
    
    @include respond(phone) {
      font-size: 2.8rem;
    }
  }

  & .subtitle {
    font-size: 2.2rem;
    text-transform: none;
    font-weight: 500;

     @include respond(phone) {
      font-size: 2rem;
    }
  }

  & .hero-form {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;

    & .input {
      font-size: 1.8rem;
      display: block;
      margin-bottom: 1rem;
      margin-top: 2.5rem;

    }

    & .textarea {
      font-size: 1.8rem;
    }

    & .button {
      margin-top: 2rem;
      font-size: 1.8rem;
      padding: 1.5rem 4.5rem;
    }
  }
}

.section-weather {
  background: #f5f5f5;
  padding: 5rem 0 5rem 0;
}

.weather-card {
  background: #fff;
  padding: 5rem;
  border-radius: 1rem;
  max-width: 60rem;
  margin: 0 auto;
}

.welcome {
  text-align: center;
  font-size: 2.2rem;
}

.city {
  font-size: 2.2rem;
}

.date {
  color: #ccc;
  font-size: 1.6rem;
}

.temperature {
  font-size: 2.8rem;
  margin-top: 1.5rem;
}

.comment {
  color: #ccc;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.footer {
  width: 100%;
  background: #05386b;
  color: #fff;
}